<div class="sidebar-collapse" th:fragment ="left">
    <ul class="nav" id="main-menu">
        <li>
            <a class="" href="/user/main.do"><i class="fa fa-dashboard"></i> 首页</a>
        </li>
        <li>
            <a href="/admin/listArticle.do"><i class="fa fa-desktop"></i> 文章管理</a>
        </li>
        <li>
            <a href="/admin/listComment.do"><i class="fa fa-desktop"></i> 评论管理</a>
        </li>

        <li>
            <a href="#"><i class="fa fa-sitemap"></i> 系统设置<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="#">生成索引</a>
                </li>
                <li>
                    <a href="#">Morris Chart</a>
                </li>
            </ul>
        </li>
    </ul>
</div>