<!DOCTYPE html >

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>
<div class="container">
    <div class="row clearfix" th:include="header :: header"></div>
    <div class="row clearfix">
        <div class="col-md-9 column" >
            <h3 class="text-center" th:text="${article.title}">
            </h3>
            <div class="row">
                <p class="pull-right col-xs-5 col-sm-3">
                    <span class="glyphicon glyphicon-calendar" th:text="${#dates.format(article.createtime,'yyyy-MM-dd')}"></span>
                    <span class="glyphicon glyphicon-eye-open" th:text="${article.opt3}" style="margin-left:20px"></span>
                </p>
            </div>
            <p th:utext="${article.content}">
            </p>
        </div>

        <div class="col-md-3 column" th:include="right :: right"></div>

        <div style="padding: 20px 10px 10px;" class="col-md-9 column">
            <form class="bs-example bs-example-form" role="form">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">我要评论</span>
                    <input type="text" class="form-control" placeholder="请输入评论"/>
                    <span class="input-group-addon">发表</span>
                </div>

            </form>
        </div>

        <div class="panel panel-default col-md-9 column">
            <div class="panel-heading">
                <h3 class="panel-title">
                    文章评论（10）
                </h3>
            </div>
            <div class="panel-body">
                <ul id="">
                    <li >
                        <span>这是昵称</span>:<div class="well" >
                        <p style="color: #1b6d85">容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容</p>
                        <p class="pull-right" ><span>评论时间：</span> <span>2017-01-01</span>
                             <a>回复</a>
                        </p>
                    </div>

                    </li>
                    <li >
                        <span>这是昵称</span>:<div class="well" >
                        <p  style="color: #1b6d85">这是内容这是内容</p>
                        <p class="pull-right"> <span>评论时间：</span> <span>2017-01-01</span>
                            <a>回复</a>
                        </p>
                    </div>

                    </li>
                </ul>
            </div>
        </div>

    </div>


  </div>
</body>
</html>

<script th:inline="javascript">
    $(document).ready(function(){
        $.ajax({
            url:"/article/addOpt3.do",
            dataType:"json",
            type:"post",
            data:{
                id:[[${article.id}]]
            },
            success:function(data){

            }
        })
    })

</script>
