<!DOCTYPE html >
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<title>blog</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
  <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>
<div class="container">
  <div class="row clearfix" th:include="header ::header">

  </div>
  <div class="row clearfix">
    <div class="col-md-9 column">
      <div th:if="${type != null}">
        <ol class="breadcrumb">
          <li><h3>当前类别-<span th:text="${type}"></span></h3></li>

        </ol>
      </div>
      <div class = "content well" th:each="a:${articleList}">
      <a class="btn" th:href="@{/article/articleDetail.do(id=${a.id})}"><h4 th:text="${a.title}" >
      </h4></a>
        <div class="row">
        <p class="pull-right col-xs-5 col-sm-3">
            <span class="glyphicon glyphicon-calendar" th:text="${#dates.format(a.createtime,'yyyy-MM-dd')}"></span>
            <span class="glyphicon glyphicon-eye-open" th:text="${a.opt3}" style="margin-left:20px"></span>
        </p>
        </div>
        <div>
      <p th:text="${a.describe}" style="text-indent: 2em">
      </p>
        </div>
      </div>


      <ul class="pagination pull-right">
        <li>
          <a th:href="@{/article/index.do(currPage=1)}">首页</a>
        </li>
        <li>
          <a th:href="@{/article/index.do(currPage=${page.prePage})}">上一页</a>
        </li>
        <li>
          <a th:href="@{/article/index.do(currPage=${page.nextPage})}">下一页</a>
        </li>
        <li>
          <a th:href="@{/article/index.do(currPage=${page.lastPage})}">末页</a>
        </li>
      </ul>
    </div>
    <div class="col-md-3 column" th:include="right :: right"></div>
  </div>
</div>
</body>
</html>

<script>



</script>
