<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.wangchong.blog.dao.ArticleDao" >

    <select id="queryList"  resultType="com.wangchong.blog.entity.Article" parameterType="Map">
        SELECT a.*,t.name AS typeName FROM article a,type t WHERE a.status = 1 AND a.type=t.id
        <if test="type != null and type != ' '"> AND type=#{type} </if>
        ORDER BY scope DESC

    </select>

    <select id="getById"  resultType="com.wangchong.blog.entity.Article" parameterType="Long">
        SELECT * FROM article WHERE id=#{id}
    </select>

    <update id="addOpt1" parameterType="Long">
        UPDATE article SET opt1 = opt1+1 WHERE id=#{id};
    </update>

    <update id="addOpt2" parameterType="Long">
        UPDATE article SET opt2 = opt2+1 WHERE id=#{id};
    </update>

    <update id="addOpt3" parameterType="Long">
        UPDATE article SET opt3 = opt3+1 WHERE id=#{id};
    </update>

    <insert id="insert" parameterType="com.wangchong.blog.entity.Article">
        INSERT INTO article (title,`describe`,content,`status`,scope,createtime,`type`,photo)
        VALUES (#{title},#{describe},#{content},#{status},#{scope},#{createtime},#{type},#{photo})
    </insert>

    <select id="queryRank" resultType="com.wangchong.blog.entity.Article">
        SELECT * FROM article WHERE status = 1 ORDER BY opt3 DESC limit 8
    </select>
    
    <update id="updateStatus">
        UPDATE article SET status=#{arg1} WHERE id=#{arg0}
    </update>

    <update id="update" parameterType="Map" >
        UPDATE article SET id=#{id}
        <if test="title!=null">
            ,`title`=#{title}
        </if>
        <if test="describe!=null">
            ,`describe`=#{describe}
        </if>
        <if test="content!=null">
            , `content`=#{content}
        </if>
        <if test="scope!=null">
            , `scope`=#{scope}
        </if>
        <if test="type!=null">
            ,`type`=#{type}
        </if>
        WHERE id=#{id}


    </update>

</mapper>