<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.wangchong.blog.dao.CommentDao" >

    <insert id="insert" parameterType="com.wangchong.blog.entity.Comment">
        INSERT INTO comment (`articleId`,`content`,`status`,`createtime`,`customerName`)
        VALUES (#{articleId},#{content},#{status},#{createtime},#{customerName})
    </insert>


    <delete id="delete" parameterType="Long">
        DELETE FROM comment WHERE id=#{id}
    </delete>

    <select id="getById" parameterType="Long">
        SELECT * FROM comment WHERE id =#{id}
    </select>

    <select id="queryList" parameterType="Map" resultType="com.wangchong.blog.entity.Comment">
        SELECT c.* ,a.title AS title FROM comment c,article a WHERE c.status=#{status} AND c.articleId=a.id
        <if test="articleId!=null">
            AND articleId=#{articleId}
        </if>
        ORDER BY createtime DESC
    </select>

    <select id="queryListCount" parameterType="Map" resultType="int">
        SELECT count(1) FROM comment WHERE status=#{status}
        <if test="articleId!=null">
            AND articleId=#{articleId}
        </if>
    </select>

    <update id="update">
        UPDATE comment SET status=#{arg1} WHERE id=#{arg0}
    </update>

</mapper>